.btn {
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 40px;
    left: 10%;
    top: 10%;
    border: 1px solid #4B84F4;
    border-radius: 10px;
    background-color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4B84F4;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(228, 228, 244);
}