* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.admin_entry {
    width: 50vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 112px;
    padding-bottom: 292px;
    padding-left: 208px;
}

.blue {
    width: 50vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 304px;
}

.entry {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #4B84F4;
    margin-bottom: 24px;
}

.label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #2E2E2E;
    opacity: 0.5;
    margin-bottom: 8px;
}

.input {
    margin-bottom: 8px;
    width: 304px;
    height: 48px;
    border: 1px solid #ced3d9;
    border-radius: 8px;
    padding: 8px;
    color: #2D1E71;
}

.forgot_password {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #4B84F4;
    text-decoration: none;
    margin-bottom: 16px;
}

.btn {
    width: 304px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ced3d9;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #4B84F4;
    color: white;
    transition: all 0.3s;
}

.title {
    position: absolute;
    top: 114px;
    right: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.admin_image{
    position: absolute;
    top: 200px;
    right: 200px;
}

.error {
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: red;
}
