.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: #4B84F4;
}

.logo img {
    margin-left: 16px;
    margin-right: 8px;
}

