.event_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2E2E2E;
    margin-right: 50px;
    margin-bottom: 8px;
}

.event_title {
    font-weight: 600;
    padding-left: 5px;
}

.event_name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.event_time {
    display: flex;
}

.divider{
    border: 1px solid rgba(46, 46, 46, 0.08);
    background-color: rgba(46, 46, 46, 0.08);
    margin-bottom: 10px;
}

.name_wrapper {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 5px;
}

