.date {
    border: none;
    /* text-align: center; */
    width: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2E2E2E;
}