.btn {
    width: 128px;
    height: 32px;
    margin-left: 72px;
    margin-top: 4px;
    border: 1px solid #4B84F4;
    border-radius: 8px;
    background-color: #4B84F4;
    color: white;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;    
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #4B84F4;
    transition: all 0.3s;
}